@model IEnumerable<ADO.GetNames_Result>

@{
    ViewBag.Title = "People List";
}

<div class="container">
   @foreach (var item in Model)
   { 
      <div class="row">
         <div class="col">@Html.DisplayFor(modelItem => item.FullName)</div>
         <div class="col">@Html.ActionLink("Details", "GetDetails", new { id = item.BusinessEntityID })</div>
      </div>
   }
</div>
